:root {
  --primary-200: #6247b2;
  --primary-300: #6f4fd4;
  --primary-400: #8c66ff;
  --primary-600: #e0daf3;
  --secondary-300: #64a4ec;

  --grey-100: #f9f9f9;
  --grey-300: #e8e8e8;
  --grey-400: #dcdcdc;
  --grey-500: #bebebe; // Placeholder
  --grey-600: #6b6b6b; //Texto
  --grey-700: #4f4f4f;

  --blue: #3aadbd; // Previsão de horas
  --green-400: #479f76; // Horas extras
  --red-300: #ea868f; // Horas negativas

  --white: #ffffff;
}

.RegularText {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.HelperText {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
}

.TitleText {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.HourTypography {
  color: var(--grey-600);

  font-size: 3.4rem;
  line-height: 4.2rem;
}

.Clickable {
  &:hover {
    cursor: pointer;
  }

  &__Button {
    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      &:hover {
        cursor: default;
      }
    }
  }
}

.Montserrat {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}
